<div class="flex-column h100">
    <mat-toolbar>
        <a routerLink="/home" mat-button>
            Canadian Collection of Agricultural Soil Microbes
        </a>

        <span class="flex"></span>

        <div class="buttons-container">
            <a class="header-link" routerLink="/browse" mat-button>Browse</a>
            |
            <a class="header-link" routerLink="/statistics" mat-button>
                Statistics
            </a>
            |
            <a class="header-link" routerLink="/deposit" mat-button>Deposit</a>
            |
            <a class="header-link" routerLink="/cart" mat-button>Cart</a>
        </div>

        <div class="menu-button">
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item routerLink="/browse">Browse</button>
                <button mat-menu-item routerLink="/statistics">
                    Statistics
                </button>
                <button mat-menu-item routerLink="/deposit">Deposit</button>
                <button mat-menu-item routerLink="/cart">Cart</button>
            </mat-menu>
        </div>
    </mat-toolbar>

    <div class="flex">
        <router-outlet></router-outlet>
    </div>

    <mat-toolbar class="footer">
        <a class="header-link" routerLink="/about" mat-button>About</a>
        |
        <a class="header-link" routerLink="/admin" mat-button>Admin</a>
    </mat-toolbar>
</div>
