<div class="flex-column h100">
    <mat-toolbar style="height: 36px">
        <a routerLink="/home" mat-button>
            <mat-icon>biotech</mat-icon>
            Canadian Collection of Agricultural Soil Microbes
        </a>

        <span class="flex"></span>

        <div class="buttons-container">
            <a class="header-link" routerLink="/browse" mat-button>
                <mat-icon>search</mat-icon>
                Browse
            </a>
            |
            <a class="header-link" routerLink="/statistics" mat-button>
                <mat-icon>stacked_line_chart</mat-icon>
                Statistics
            </a>
            |
            <a class="header-link" routerLink="/deposit" mat-button>
                <mat-icon>download</mat-icon>
                Deposit
            </a>
            |
            <a class="header-link" routerLink="/cart" mat-button>
                <mat-icon>shopping_cart</mat-icon>
                Cart
            </a>
        </div>

        <div class="menu-button">
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item routerLink="/browse">
                    <mat-icon>search</mat-icon>
                    Browse
                </button>
                <button mat-menu-item routerLink="/statistics">
                    <mat-icon>stacked_line_chart</mat-icon>
                    Statistics
                </button>
                <button mat-menu-item routerLink="/deposit">
                    <mat-icon>download</mat-icon>
                    Deposit
                </button>
                <button mat-menu-item routerLink="/cart">
                    <mat-icon>shopping_cart</mat-icon>
                    Cart
                </button>
            </mat-menu>
        </div>
    </mat-toolbar>

    <div style="flex: 1 1 auto; padding: 0 max(10%, 32px)">
        <!-- Add padding here -->
        <router-outlet></router-outlet>
    </div>

    <mat-toolbar class="footer">
        <a class="header-link" routerLink="/about" mat-button>About</a>
        |
        <a class="header-link" routerLink="/admin" mat-button>Admin</a>
    </mat-toolbar>
</div>
