<mat-toolbar>
  <span>
    <a routerLink="/home" mat-button>
      Canadian Collection of Agricultural Soil Microbes
    </a>
  </span>
  <span class="flex"></span>

  <div class="header-link"><a routerLink="/browse" mat-button>Browse</a></div>
  |
  <div class="header-link">
    <a routerLink="/statistics" mat-button>Statistics</a>
  </div>
  |
  <div class="header-link"><a routerLink="/deposit" mat-button>Deposit</a></div>
  |
  <div class="header-link"><a routerLink="/cart" mat-button>Cart</a></div>
</mat-toolbar>
