<div id="statistics-map" style="height: 70%"></div>

<!-- Chart Selection Buttons -->
<div class="chart-selection">
  <button (click)="toggleChartType('province')">Show Province Data</button>
  <button (click)="toggleChartType('taxonomic')">Show Taxonomic Lineage</button>
</div>

<!-- Chart Container (conditionally shown based on the selected chart type) -->
<div *ngIf="chartType === 'province'" echarts [options]="provinceChartOption" class="chart-container"></div>
<div *ngIf="chartType === 'taxonomic'" echarts [options]="taxonomicLevelChartOption" class="chart-container"></div>