<!-- Currently on every click itll reload the component (can change to once if using visibility tags instead of ngif) -->

<div
    class="flex-center h100"
    style="flex-direction: column"
    *ngIf="view === 'select'"
>
    <h3>Welcome to the CCASM Admin Dashboard</h3>

    <button
        mat-raised-button
        (click)="view = 'requests'"
        style="margin-bottom: 16px"
    >
        Strain Requests Dashboard
    </button>
    <button
        mat-raised-button
        (click)="view = 'deposits'"
        style="margin-bottom: 16px"
    >
        Strain Deposits Dashboard
    </button>
    <button
        mat-raised-button
        (click)="view = 'collection'"
        style="margin-bottom: 16px"
    >
        Admin Collection Dashboard
    </button>
    <button
        mat-raised-button
        (click)="view = 'add'"
        style="margin-bottom: 32px"
    >
        Add to Collection
    </button>
    <button mat-raised-button (click)="logout()">Log Out</button>
</div>

<div *ngIf="view !== 'select'" style="margin: 16px">
    <button mat-raised-button (click)="view = 'select'">
        Return to Admin Dashboard
    </button>

    <div style="padding-top: 16px">
        <app-admin-requests *ngIf="view === 'requests'"></app-admin-requests>
        <app-admin-deposits *ngIf="view === 'deposits'"></app-admin-deposits>
        <app-admin-collection
            *ngIf="view === 'collection'"
        ></app-admin-collection>
        <app-admin-add *ngIf="view === 'add'"></app-admin-add>
    </div>
</div>
