.login-container {
    width: 100%;
    padding-top: 1%;
    padding-left: 30%;
    padding-right: 30%;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 2.5rem; /* Adjust the font size as needed */
    font-weight: bold;
    color: #333; /* Set the color */
    text-align: center; /* Center the text */
    margin-bottom: 6%; /* Add some space below the title */
    text-transform: uppercase; /* Convert text to uppercase */
    letter-spacing: 2px; /* Add letter spacing */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); /* Add a subtle text shadow */
}

div {
    margin-bottom: 1.0rem;
}

mat-form-field {
    width: 100%;
}

.err {
        color: red;
}

button{
    
    margin-right: 1vw;
    background: #4285F4;
    color: white;
    font-size: 20px;
    line-height: 18px;
    height: auto;
    width: auto;
}
