<div class="login-container">

    <form [formGroup]="loginForm" novalidate (ngSubmit)="login()">

      <h1>Admin Login</h1>
      
      <div>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input type="one" matInput formControlName="email" placeholder="Ex. email@test.com">
              <mat-error *ngIf="f.email?.invalid && f.email?.errors?.['required']">* Email is <strong>required</strong>.</mat-error>
              <mat-error *ngIf="f.email?.invalid && f.email?.errors?.['email']">* Email not <strong>valid</strong>.</mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field >
          <mat-label>Password</mat-label>
          <input type="one" matInput formControlName="password" placeholder="Write here ...">
              <mat-error *ngIf="f.password?.invalid && f.password?.errors?.['required']">* Password is <strong>required</strong></mat-error>
        </mat-form-field>
      </div>

      <div>
        <button
        type="submit"
        mat-raised-button [disabled]="loginForm.invalid" color="primary"><mat-icon>done</mat-icon>Login</button>
      </div>

    </form>

</div>
