<div class="h100">
  <div style="padding-top: 32px; padding-right: 32px; display: flex">
    <span class="flex"></span>
    <button mat-raised-button (click)="exportToCSV()">
      Download Collection
    </button>
  </div>

  <div style="display: flex; justify-content: center">
    <div>
      <ng-container *ngIf="searchType == 'simple'">
        <app-simple-search></app-simple-search>
      </ng-container>

      <ng-container *ngIf="searchType == 'complex'">
        <app-complex-search></app-complex-search>
      </ng-container>
      <mat-radio-group [(ngModel)]="searchType">
        <mat-radio-button [value]="'simple'"> Simple </mat-radio-button>
        <mat-radio-button [value]="'complex'"> Complex </mat-radio-button>
      </mat-radio-group>
    </div>
  </div>

  <!-- CHANGE THE HEIGHT -->
  <div style="height: 500px; overflow-y: auto">
    <mat-tree
      [dataSource]="dataSource"
      [treeControl]="treeControl"
      class="strain-tree"
    >
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
        {{ node.name }}
      </mat-tree-node>

      <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
        <div class="mat-tree-node">
          <button
            mat-icon-button
            matTreeNodeToggle
            [attr.aria-label]="'Toggle ' + node.name"
          >
            <mat-icon class="mat-icon-rtl-mirror">
              {{
                treeControl.isExpanded(node) ? "expand_more" : "chevron_right"
              }}
            </mat-icon>
          </button>
          {{ node.name }} ({{ recursiveCount(node) }})
        </div>

        <div
          [class.strain-tree-invisible]="!treeControl.isExpanded(node)"
          role="group"
        >
          <ng-container matTreeNodeOutlet></ng-container>
        </div>
      </mat-nested-tree-node>
    </mat-tree>
  </div>
</div>
