<div class="h100">
    <div class="map" id="home-map"></div>

    <div class="layout-container">
        <div class="intro">
            <h2>
                Welcome to the Canadian Collection of Agricultural Soil Microbes
            </h2>
            <p>
                The Canadian Collection of Agricultural Soil Microbes (CCASM) is
                a collection of bacteria isolated primarily from agricultural
                fields across Canada. CCASM is hosted by Queen's University and
                the University of Manitoba, which was designed to facilitate the
                sharing of agricultural soil microbes across Canada.
            </p>
            <a routerLink="/browse" mat-raised-button>
                Browse the Collection
            </a>
            <p>
                CCASM is hosted at Queen's University and the University of
                Manitoba. Initial development of CCASM was supported by funding
                from Genome Canada, the Government of Manitoba, and the
                Government of Ontario.
            </p>
            <div style="padding: 0px 32px">
                <img
                    style="margin-right: 24px"
                    width="114px"
                    height="80px"
                    src="assets/queens_university.png"
                    alt="Queen's University logo"
                />
                <img
                    style="margin-right: 24px"
                    width="164px"
                    height="80px"
                    src="assets/university_manitoba.png"
                    alt="University of Manitoba logo"
                />
                <img
                    style="margin-right: 24px"
                    width="133px"
                    height="80px"
                    src="assets/genome_canada.png"
                    alt="Genome Canada logo"
                />
                <img
                    style="margin-right: 24px"
                    width="124px"
                    height="80px"
                    src="assets/genome_prairie.png"
                    alt="Genome Prairie logo"
                />
                <img
                    style="margin-right: 24px"
                    width="164px"
                    height="80px"
                    src="assets/genome_ontario.png"
                    alt="Ontario Genomics logo"
                />
                <img
                    width="177px"
                    height="80px"
                    src="assets/government.png"
                    alt="Government of Manitoba and Government of Ontario logos"
                />
            </div>
        </div>

        <div class="stats">
            <h3>Strains per Province:</h3>
            Strains from British Columbia: {{ fromProv.BC }} <br />
            Strains from Alberta: {{ fromProv.AB }}<br />
            Strains from Saskatchewan: {{ fromProv.SK }}<br />
            Strains from Manitoba: {{ fromProv.MB }}<br />
            Strains from Ontario: {{ fromProv.ON }}<br />
            Strains from Quebec: {{ fromProv.QC }}<br />
            Strains from Newfoundland and Labrador: {{ fromProv.NL }} <br />
            Strains from New Brunswick: {{ fromProv.NB }}<br />
            Strains from Prince Edward Island: {{ fromProv.PE }}<br />
            Strains from Nova Scotia: {{ fromProv.NS }}<br />
            Strains from Yukon: {{ fromProv.YT }}<br />
            Strains from Northwest Territories: {{ fromProv.NT }}<br />
            Strains from Nunavut: {{ fromProv.NU }}<br />
            ---------------------------------<br />
            Total in Collection: {{ fromProv.ALL }}<br />
            <br />
            <a routerLink="/statistics" mat-raised-button>
                <mat-icon>search</mat-icon>
                Go To Statistics</a
            >
            <br />
        </div>
    </div>
</div>
