<div name="main-div" class="main-div">
    
    <!-- Main Form -->
    <form [formGroup]="applyForm" novalidate class="form">

        <!-- Title -->
        <h1 class="title">Deposit Strain Form</h1>

        <!-- First line -->
        <div name = "first-last-email" class="first-line">
            <mat-form-field appearance="outline">
                <mat-label>First name</mat-label>
                <input type="one" matInput formControlName="firstName" placeholder="Ex. John" >
                    <mat-error *ngIf="f.firstName?.invalid && f.firstName?.errors?.['required']">* First Name is <strong>required</strong></mat-error>
                    <mat-error *ngIf="f.firstName?.invalid && f.firstName?.errors?.['pattern']">* Only <strong>alphabetic </strong>characters.</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Last name</mat-label>
                <input type="one" matInput formControlName="lastName" placeholder="Ex. Doe">
                    <mat-error *ngIf="f.lastName?.invalid && f.lastName?.errors?.['required']">* Last Name is <strong>required</strong></mat-error>
                    <mat-error *ngIf="f.lastName?.invalid && f.lastName?.errors?.['pattern']">* Only <strong>alphabetic </strong>characters.</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input type="one" matInput formControlName="email" placeholder="Ex. email@test.com">
                    <mat-error *ngIf="f.email?.invalid && f.email?.errors?.['required']">* Email is <strong>required</strong>.</mat-error>
                    <mat-error *ngIf="f.email?.invalid && f.email?.errors?.['email']">* Email not <strong>valid</strong>.</mat-error>
            </mat-form-field>

        </div>
        
        <!-- 2nd line -->
        <div name = "aff" class="second">
            
            <mat-form-field class="aff" appearance="outline">
                <mat-label>Affiliation</mat-label>
                <input type="two" matInput formControlName="affiliation" placeholder="Ex. Professor at example University">
                    <mat-error *ngIf="f.affiliation?.invalid && f.affiliation?.errors?.['required']">* Affiliation is <strong>required</strong>.</mat-error>
                    <mat-error *ngIf="f.affiliation?.invalid && f.affiliation?.errors?.['minlength']">* More than 3 characters <strong>needed</strong>.</mat-error>
            </mat-form-field>

        </div>

        <!-- Message box -->
        <div name= "Message">
            <mat-form-field class="msg">
                <mat-label>Additional Information...</mat-label>
                <textarea matInput rows="8" maxlength="400" formControlName="message" placeholder="Write here..."></textarea>
              </mat-form-field>
        </div>

        <div name="info" class="disclaimer">
            <label class="txt" style="font-style: italic;">
                *This request will put you in contact with one of us. Furthur communication will be needed.
            </label>
        </div>

        <!-- buttons/file upload -->
        <div class="button">

            <button
            type="submit"
            mat-raised-button
            [disabled]="applyForm.invalid"
            (click)="build()"
            color="primary"><mat-icon>done</mat-icon>Submit</button>
            
            <div>{{msg || ""}}</div>

            <div class="file-up">
                <input type="file" class="file-input" formControlName="depositExcel" (change)="onFileUpload($event)" required #deposit>

                <div class="file-upload">

                    {{filename || "file upload (xlsx,xls,csv)"}}

                    <button mat-mini-fab id="file" color="primary" class="upload-btn"
                    (click)="deposit.click()">
                        <mat-icon>attach_file</mat-icon>
                    </button>
                </div>
            </div>

        </div>
        
        <div>
            <label for="errors" class="file-error">
                <div class="error" *ngIf="f.depositExcel?.invalid">
                    <div *ngIf="f.depositExcel?.errors?.['pattern']">|File type(.csv|.xlsx|.xls) is required.|</div>
                </div>
            </label>
        </div>

    </form>    
</div>
