<!-- TO FIX: When the selection is no longer matching, the autocomplete checkmark should not be there -->

<form [formGroup]="complexSearchForm" class="form-container">
    <mat-form-field class="complex-form-field">
        <mat-label>Binomial Classification</mat-label>
        <input
            type="text"
            aria-label="Binomial Classification"
            matInput
            formControlName="binomialClassification"
            [matAutocomplete]="binomialClassification"
            #trigger="matAutocompleteTrigger"
            (keydown.enter)="
                $event.stopPropagation(); trigger.closePanel(); search()
            "
        />
        <mat-autocomplete #binomialClassification="matAutocomplete">
            <mat-option
                *ngFor="let option of bcFiltered | async"
                [value]="option"
            >
                {{ option }}
            </mat-option>
        </mat-autocomplete>
        <!-- <button
            mat-icon-button
            aria-label="Clear"
            matSuffix
            (click)="
                $event.stopPropagation();
                complexSearchForm.get('binomialClassification')?.setValue('')
            "
            *ngIf="complexSearchForm.get('binomialClassification')?.value"
        >
            <mat-icon>clear</mat-icon>
        </button> -->
    </mat-form-field>

    <mat-form-field class="complex-form-field">
        <mat-label>Full Taxonomic Lineage</mat-label>
        <input
            type="text"
            aria-label="Search by Full Taxonomic Lineage"
            matInput
            formControlName="taxonomicLineage"
            (keydown.enter)="
                $event.stopPropagation(); trigger.closePanel(); search()
            "
        />
    </mat-form-field>

    <mat-form-field class="complex-form-field">
        <mat-label>CCASM ID</mat-label>
        <input
            type="text"
            aria-label="Search by CCASM ID"
            matInput
            placeholder="CCASM-xxxxxx"
            formControlName="ccasmId"
            (keydown.enter)="
                $event.stopPropagation(); trigger.closePanel(); search()
            "
        />
    </mat-form-field>

    <mat-form-field class="complex-form-field">
        <mat-label>Strain Name</mat-label>
        <input
            type="text"
            aria-label="Search by strain name"
            matInput
            formControlName="strainName"
            (keydown.enter)="
                $event.stopPropagation(); trigger.closePanel(); search()
            "
        />
    </mat-form-field>

    <mat-form-field class="complex-form-field">
        <mat-label>Associated Plant Species </mat-label>
        <input
            type="text"
            aria-label="Search by Associated Plant Species"
            matInput
            formControlName="hostPlantSpecies"
            [matAutocomplete]="hostPlantSpecies"
            #trigger="matAutocompleteTrigger"
            (keydown.enter)="
                $event.stopPropagation(); trigger.closePanel(); search()
            "
        />
        <mat-autocomplete #hostPlantSpecies="matAutocomplete">
            <mat-option
                *ngFor="let option of apsFiltered | async"
                [value]="option"
            >
                {{ option }}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="complex-form-field">
        <mat-label>Province</mat-label>
        <input
            type="text"
            aria-label="Search by Soil Province"
            matInput
            formControlName="isolationSoilProvince"
            [matAutocomplete]="isolationSoilProvince"
            #trigger="matAutocompleteTrigger"
            (keydown.enter)="
                $event.stopPropagation(); trigger.closePanel(); search()
            "
        />
        <mat-autocomplete #isolationSoilProvince="matAutocomplete">
            <mat-option
                *ngFor="let option of iprovFiltered | async"
                [value]="option"
            >
                {{ option }}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</form>

<button mat-raised-button color="primary" (click)="search()">Search</button>
