<!-- TO FIX: When the selection is no longer matching, the autocomplete checkmark should not be there -->

<form [formGroup]="complexSearchForm" class="form-container">
    <mat-form-field class="complex-form-field">
        <mat-label>Binomial Classification</mat-label>
        <input
            type="text"
            aria-label="Binomial Classification"
            matInput
            formControlName="binomialClassification"
            [matAutocomplete]="binomialClassification"
        />
        <mat-autocomplete #binomialClassification="matAutocomplete">
            <mat-option
                *ngFor="let option of bcFiltered | async"
                [value]="option"
            >
                {{ option }}
            </mat-option>
        </mat-autocomplete>
        <!-- <button
            mat-icon-button
            aria-label="Clear"
            matSuffix
            (click)="
                $event.stopPropagation();
                complexSearchForm.get('binomialClassification')?.setValue('')
            "
            *ngIf="complexSearchForm.get('binomialClassification')?.value"
        >
            <mat-icon>clear</mat-icon>
        </button> -->
    </mat-form-field>

    <mat-form-field class="complex-form-field">
        <mat-label>Province</mat-label>
        <input
            type="text"
            aria-label="Search by Soil Province"
            matInput
            formControlName="isolationSoilProvince"
            [matAutocomplete]="isolationSoilProvince"
        />
        <mat-autocomplete #isolationSoilProvince="matAutocomplete">
            <mat-option
                *ngFor="let option of iprovFiltered | async"
                [value]="option"
            >
                {{ option }}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="complex-form-field">
        <mat-label>Isolation Source</mat-label>
        <input
            type="text"
            aria-label="Search by Isolation Source"
            matInput
            formControlName="isolationSource"
            [matAutocomplete]="isolationSource"
        />
        <mat-autocomplete #isolationSource="matAutocomplete">
            <mat-option
                *ngFor="let option of isFiltered | async"
                [value]="option"
            >
                {{ option }}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="complex-form-field">
        <mat-label>Isolation Soil Texture</mat-label>
        <input
            type="text"
            aria-label="Search by Isolation Soil Texture"
            matInput
            formControlName="isolationSoilTexture"
            [matAutocomplete]="isolationSoilTexture"
        />
        <mat-autocomplete #isolationSoilTexture="matAutocomplete">
            <mat-option
                *ngFor="let option of istFiltered | async"
                [value]="option"
            >
                {{ option }}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="complex-form-field">
        <mat-label>Risk Group </mat-label>
        <input
            type="text"
            aria-label="Search by Risk Group"
            matInput
            formControlName="riskGroup"
            [matAutocomplete]="riskGroup"
        />
        <mat-autocomplete #riskGroup="matAutocomplete">
            <mat-option
                *ngFor="let option of rgFiltered | async"
                [value]="option"
            >
                {{ option }}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="complex-form-field">
        <mat-label>Isolation Protocol</mat-label>
        <input
            type="text"
            aria-label="Search by name"
            matInput
            formControlName="isolationProtocol"
            [matAutocomplete]="isolationProtocol"
        />
        <mat-autocomplete #isolationProtocol="matAutocomplete">
            <mat-option
                *ngFor="let option of iprotFiltered | async"
                [value]="option"
            >
                {{ option }}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</form>

<button mat-raised-button color="primary" (click)="search()">Search</button>
