<div id="wrapper">
    <div class="Left">
        <!-- Strain Cart -->
        <h1 class="cart">Strain Cart</h1>

        <!-- Cart list -->
        <ng-container *ngIf="dataSource.data.length > 0; else emptyCart">
            <mat-card
                *ngFor="let strain of obs | async"
                (click)="openStrainInformation(strain)"
                style="background-color: #ececec; cursor: pointer"
            >
                <mat-card-title>
                    <strong>CCASM ID:</strong> {{ strain.ccasmId }}
                    <strong>Binomial Classification:</strong>
                    {{ strain.binomialClassification }}
                </mat-card-title>
                <mat-card-content>
                    <strong>Taxonomic Lineage:</strong>
                    {{ strain.taxonomicLineage }}
                </mat-card-content>
                <!-- ugly button rn will fix -->
                <button mat-icon-button (click)="removeStrain(strain.strainId)">
                    <mat-icon aria-label="Remove">delete</mat-icon>
                </button>
            </mat-card>
        </ng-container>

        <!-- Empty message -->
        <ng-template #emptyCart>
            <p class="nothing">Nothing in cart...</p>
        </ng-template>

        <!-- Paginator -->
        <mat-paginator
            [pageSizeOptions]="[5, 10, 20]"
            showFirstLastButtons
        ></mat-paginator>
    </div>

    <div name="main-div" class="right">
        <!-- Title -->
        <h1 class="title">Request Strain Form</h1>
        <hr />
        <h2>
            To request one or more isolates be shipped to you, please add the
            strains of interest to the cart, and then fill-in and submit this
            form to initiate the process.
        </h2>

        <!-- Main Form -->
        <form [formGroup]="applyForm" novalidate class="form">
            <!-- First line -->
            <div name="first-last-email" class="first-line">
                <mat-form-field appearance="outline">
                    <mat-label>First name</mat-label>
                    <input
                        type="one"
                        matInput
                        formControlName="firstName"
                        placeholder="First name"
                    />
                    <mat-error
                        *ngIf="f.firstName?.invalid && f.firstName?.errors?.['required']"
                        >* First Name is <strong>required</strong></mat-error
                    >
                    <mat-error
                        *ngIf="f.firstName?.invalid && f.firstName?.errors?.['pattern']"
                        >* Only
                        <strong>alphabetic </strong>characters.</mat-error
                    >
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Last name</mat-label>
                    <input
                        type="one"
                        matInput
                        formControlName="lastName"
                        placeholder="Last name"
                    />
                    <mat-error
                        *ngIf="f.lastName?.invalid && f.lastName?.errors?.['required']"
                        >* Last Name is <strong>required</strong></mat-error
                    >
                    <mat-error
                        *ngIf="f.lastName?.invalid && f.lastName?.errors?.['pattern']"
                        >* Only
                        <strong>alphabetic </strong>characters.</mat-error
                    >
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input
                        type="one"
                        matInput
                        formControlName="email"
                        placeholder="Email address"
                    />
                    <mat-error
                        *ngIf="f.email?.invalid && f.email?.errors?.['required']"
                        >* Email is <strong>required</strong>.</mat-error
                    >
                    <mat-error
                        *ngIf="f.email?.invalid && f.email?.errors?.['email']"
                        >* Email not <strong>valid</strong>.</mat-error
                    >
                </mat-form-field>
            </div>

            <!-- 2nd line -->
            <div name="aff" class="second">
                <mat-form-field class="aff" appearance="outline">
                    <mat-label>Affiliation</mat-label>
                    <input
                        type="two"
                        matInput
                        formControlName="affiliation"
                        placeholder="University or company name"
                    />
                    <mat-error
                        *ngIf="f.affiliation?.invalid && f.affiliation?.errors?.['required']"
                        >* Affiliation is <strong>required</strong>.</mat-error
                    >
                    <mat-error
                        *ngIf="f.affiliation?.invalid && f.affiliation?.errors?.['minlength']"
                        >* More than 3 characters
                        <strong>needed</strong>.</mat-error
                    >
                </mat-form-field>
            </div>

            <!-- Message box -->
            <div name="Message">
                <mat-form-field class="msg">
                    <mat-label>Additional Information</mat-label>
                    <textarea
                        matInput
                        rows="4"
                        maxlength="10000"
                        formControlName="message"
                        placeholder="If you would like to add any additional information, please do so here."
                    ></textarea>
                </mat-form-field>
            </div>

            <!-- Legal stuff? -->
            <div>
                <mat-checkbox formControlName="checkTerms">
                    I have read and agree to the
                    <button
                        type="button"
                        class="button2"
                        mat-stroked-button
                        (click)="openTerms()"
                    >
                        Terms and Conditions
                    </button>
                </mat-checkbox>
            </div>

            <div>
                <mat-checkbox formControlName="checkbox">
                    By submitting this form, you consent to receiving an email
                    from the collection curators, asking for more information
                    and who will provide instructions on how to receive your
                    isolate(s). Submission of this form does not guarantee that
                    your request will be fulfilled; only requests meeting the
                    requirements (e.g., shipping to an address in Canada) will
                    be fulfilled.
                </mat-checkbox>
            </div>
            <br />

            <div>
                <mat-error class="terms" *ngIf="f.cart?.errors?.['required']"
                    >* You don't have anything in cart...</mat-error
                >
            </div>

            <!-- buttons/file upload -->
            <div class="button">
                <button
                    name="func"
                    mat-raised-button
                    type="submit"
                    [disabled]="applyForm.invalid"
                    (click)="build()"
                    color="primary"
                >
                    <mat-icon>done</mat-icon>Submit
                </button>

                <button
                    name="func"
                    mat-raised-button
                    type="button"
                    (click)="exportAll()"
                    color="primary"
                >
                    <mat-icon>download</mat-icon>Save Metadata
                </button>
            </div>

            <div>{{ msg || "" }}</div>
        </form>
    </div>
</div>
