/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.flex {
  flex: 1 1 auto;
}

.flex-box {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.flex-row {
  flex-direction: row;
}

.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}
