/* TODO: This breaks all my CSS code...  */
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.flex {
    flex: 1 1 auto;
}

.flex-box {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Ensure full viewport height */
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.flex-row {
    flex-direction: row;
}

.w100 {
    width: 100%;
}

.h100 {
    height: 100%;
}