<mat-tab-group>
    <mat-tab label="Individual">
        <form [formGroup]="individualData">
            <mat-checkbox color="primary" formControlName="visible">
                Is Strain Visible in Collection?
            </mat-checkbox>

            <mat-form-field class="w100">
                <mat-label> CCASM ID </mat-label>
                <input matInput formControlName="ccasmID" type="text" />
                <mat-hint align="start"> ^ Format is CCASM-xxxxxx </mat-hint>
            </mat-form-field>

            <mat-form-field class="w100">
                <mat-label> Strain Name </mat-label>
                <input matInput formControlName="strainName" type="text" />
            </mat-form-field>

            <mat-form-field class="w100">
                <mat-label> Binomial Classification </mat-label>
                <input
                    matInput
                    formControlName="binomialClassification"
                    type="text"
                />
            </mat-form-field>

            <mat-form-field class="w100">
                <mat-label> Taxonomic Lineage </mat-label>
                <input
                    matInput
                    formControlName="taxonomicLineage"
                    type="text"
                />
                <mat-hint align="start">
                    ^ Format is semi-colon seperated (ie: Kingdom; Phylum;
                    Class; Order; Family; Genus; Species)
                </mat-hint>
            </mat-form-field>

            <mat-form-field class="w100">
                <mat-label> Host Plant Species </mat-label>
                <input
                    matInput
                    formControlName="hostPlantSpecies"
                    type="text"
                />
            </mat-form-field>

            <mat-form-field class="w100">
                <mat-label> Isolation Source </mat-label>
                <input matInput formControlName="isolationSource" type="text" />
            </mat-form-field>

            <mat-form-field class="w100">
                <mat-label> Isolation Year </mat-label>
                <input matInput formControlName="isolationYear" type="number" />
            </mat-form-field>

            <mat-form-field class="w100">
                <mat-label> Isolation Protocol </mat-label>
                <input
                    matInput
                    formControlName="isolationProtocol"
                    type="text"
                />
            </mat-form-field>

            <mat-form-field class="w100">
                <mat-label> Isolation Growth Medium </mat-label>
                <input
                    matInput
                    formControlName="isolationGrowthMedium"
                    type="text"
                />
            </mat-form-field>

            <mat-form-field class="w100">
                <mat-label> Isolation Growth Temperature </mat-label>
                <input
                    matInput
                    formControlName="isolationGrowthTemperature"
                    type="number"
                />
            </mat-form-field>

            <mat-form-field class="w100">
                <mat-label> Isolation Growth Medium Composition </mat-label>
                <input
                    matInput
                    formControlName="isolationGrowthMediumComposition"
                    type="text"
                />
            </mat-form-field>

            <mat-form-field class="w100">
                <mat-label> Isolation Soil PH </mat-label>
                <input
                    matInput
                    formControlName="isolationSoilPh"
                    type="number"
                />
            </mat-form-field>

            <mat-form-field class="w100">
                <mat-label> Isolation Soil Organic Matter </mat-label>
                <input
                    matInput
                    formControlName="isolationSoilOrganicMatter"
                    type="text"
                />
            </mat-form-field>

            <mat-form-field class="w100">
                <mat-label> Isolation Soil Texture </mat-label>
                <input
                    matInput
                    formControlName="isolationSoilTexture"
                    type="text"
                />
            </mat-form-field>

            <mat-form-field class="w100">
                <mat-label> Isolation Soil Province </mat-label>
                <mat-select formControlName="isolationSoilProvince">
                    <mat-option
                        *ngFor="let p of provinceAbbreviations"
                        [value]="p"
                    >
                        {{ p }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="w100">
                <mat-label> Longitude </mat-label>
                <input matInput formControlName="longitude" type="number" />
                <mat-hint align="start">
                    ^ Value between -180 and +180
                </mat-hint>
            </mat-form-field>

            <mat-form-field class="w100">
                <mat-label> Latitude </mat-label>
                <input matInput formControlName="latitude" type="number" />
                <mat-hint align="start">
                    ^ Value between -180 and +180
                </mat-hint>
            </mat-form-field>

            <mat-form-field class="w100">
                <mat-label> Risk Group </mat-label>
                <input matInput formControlName="riskGroup" type="number" />
            </mat-form-field>

            <mat-form-field class="w100">
                <mat-label> Is Plant Pathogen </mat-label>
                <mat-select formControlName="isPlantPathogen">
                    <mat-option value="1"> True </mat-option>
                    <mat-option value="0"> False </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="w100">
                <mat-label> Colony Morphology </mat-label>
                <input
                    matInput
                    formControlName="colonyMorphology"
                    type="text"
                />
            </mat-form-field>

            <mat-form-field class="w100">
                <mat-label> Genome NCBI Association </mat-label>
                <input
                    matInput
                    formControlName="genomeNcbiAssociation"
                    type="text"
                />
            </mat-form-field>

            <mat-form-field class="w100">
                <mat-label> Genome Size </mat-label>
                <input matInput formControlName="genomeSize" type="number" />
                <span matTextSuffix> Mb </span>
            </mat-form-field>

            <mat-form-field class="w100">
                <mat-label> Notes </mat-label>
                <textarea matInput formControlName="notes" rows="4"></textarea>
            </mat-form-field>

            <mat-form-field class="w100">
                <mat-label> Citation </mat-label>
                <textarea
                    matInput
                    formControlName="citation"
                    rows="4"
                ></textarea>
            </mat-form-field>

            <mat-form-field class="w100">
                <mat-label> Photo </mat-label>
                <input matInput formControlName="photo" type="text" />
            </mat-form-field>
        </form>

        <button
            mat-raised-button
            color="primary"
            [disabled]="!individualData.valid"
            (submit)="uploadDataIndividual()"
        >
            Add Strain to Collection
        </button>
    </mat-tab>

    <mat-tab label="Batch">
        <strong>
            WARNING: Batch processing does not validate any inputs. Please use
            with caution. Do not use commas in the entries, as the CSV parser
            wont work as expected.<br />
        </strong>

        <a
            mat-stroked-button
            href="https://docs.google.com/spreadsheets/d/1MT87hcTSK76lwyhsje6DdbUkVXA9ARgXTAUbk9Hw2IQ/edit?usp=sharing"
        >
            Download Data Format
        </a>

        <input
            type="file"
            style="display: none"
            (change)="onFileUpload($event)"
            required
            #deposit
        />

        <button mat-stroked-button (click)="deposit.click()">
            <mat-icon>attach_file</mat-icon> Load Data
        </button>

        <button
            mat-stroked-button
            (click)="batchDataSource.data = []"
            *ngIf="batchDataSource.data.length > 0"
        >
            <mat-icon>clear</mat-icon> Clear Data
        </button>

        <button
            mat-stroked-button
            (click)="uploadDataBatch()"
            *ngIf="batchDataSource.data.length > 0"
        >
            <mat-icon>upload</mat-icon> Add to Collection
        </button>

        <table mat-table [dataSource]="batchDataSource" matSort>
            <tr
                mat-header-row
                *matHeaderRowDef="displayedColumns; sticky: true"
            ></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

            <ng-container
                *ngFor="let column of displayedColumns"
                [matColumnDef]="column"
            >
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{ column }}
                </th>
                <td mat-cell *matCellDef="let row">{{ row[column] }}</td>
            </ng-container>
        </table>
    </mat-tab>
</mat-tab-group>
