<mat-tab-group>
    <mat-tab label="Individual">
        <form [formGroup]="individualData">
            <mat-checkbox color="primary" formControlName="visible">
                Is Strain Visible in Collection?
            </mat-checkbox>

            <mat-form-field class="w100">
                <mat-label> CCASM ID </mat-label>
                <input matInput formControlName="ccasmId" type="text" />
                <mat-hint align="start"> ^ Format is CCASM_xxxxxx </mat-hint>
            </mat-form-field>

            <mat-form-field class="w100">
                <mat-label> Strain Name </mat-label>
                <input matInput formControlName="strainName" type="text" />
            </mat-form-field>

            <mat-form-field class="w100">
                <mat-label> Binomial Classification </mat-label>
                <input
                    matInput
                    formControlName="binomialClassification"
                    type="text"
                />
            </mat-form-field>

            <mat-form-field class="w100">
                <mat-label> Taxonomic Lineage </mat-label>
                <input
                    matInput
                    formControlName="taxonomicLineage"
                    type="text"
                />
                <mat-hint align="start">
                    ^ Format is semi-colon seperated (ie: Kingdom; Phylum;
                    Class; Order; Family; Genus; Species)
                </mat-hint>
            </mat-form-field>

            <mat-form-field class="w100">
                <mat-label> Host Plant Species </mat-label>
                <input
                    matInput
                    formControlName="hostPlantSpecies"
                    type="text"
                />
            </mat-form-field>

            <mat-form-field class="w100">
                <mat-label> Isolation Source </mat-label>
                <input matInput formControlName="isolationSource" type="text" />
            </mat-form-field>

            <mat-form-field class="w100">
                <mat-label> Isolation Year </mat-label>
                <input matInput formControlName="isolationYear" type="number" />
            </mat-form-field>

            <mat-form-field class="w100">
                <mat-label> Isolation Protocol </mat-label>
                <input
                    matInput
                    formControlName="isolationProtocol"
                    type="text"
                />
            </mat-form-field>

            <mat-form-field class="w100">
                <mat-label> Isolation Growth Medium </mat-label>
                <input
                    matInput
                    formControlName="isolationGrowthMedium"
                    type="text"
                />
            </mat-form-field>

            <mat-form-field class="w100">
                <mat-label> Isolation Growth Temperature </mat-label>
                <input
                    matInput
                    formControlName="isolationGrowthTemperature"
                    type="number"
                />
            </mat-form-field>

            <mat-form-field class="w100">
                <mat-label> Isolation Growth Medium Composition </mat-label>
                <input
                    matInput
                    formControlName="isolationGrowthMediumComposition"
                    type="text"
                />
            </mat-form-field>

            <mat-form-field class="w100">
                <mat-label> Isolation Soil PH </mat-label>
                <input
                    matInput
                    formControlName="isolationSoilPh"
                    type="number"
                />
            </mat-form-field>

            <mat-form-field class="w100">
                <mat-label> Isolation Soil Organic Matter </mat-label>
                <input
                    matInput
                    formControlName="isolationSoilOrganicMatter"
                    type="text"
                />
            </mat-form-field>

            <mat-form-field class="w100">
                <mat-label> Isolation Soil Texture </mat-label>
                <input
                    matInput
                    formControlName="isolationSoilTexture"
                    type="text"
                />
            </mat-form-field>

            <mat-form-field class="w100">
                <mat-label> Isolation Soil Province </mat-label>
                <mat-select formControlName="isolationSoilProvince">
                    <mat-option *ngFor="let p of PROVINCES" [value]="p">
                        {{ p }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="w100">
                <mat-label> Longitude </mat-label>
                <input matInput formControlName="longitude" type="number" />
                <mat-hint align="start">
                    ^ Value between -180 and +180
                </mat-hint>
            </mat-form-field>

            <mat-form-field class="w100">
                <mat-label> Latitude </mat-label>
                <input matInput formControlName="latitude" type="number" />
                <mat-hint align="start">
                    ^ Value between -180 and +180
                </mat-hint>
            </mat-form-field>

            <mat-form-field class="w100">
                <mat-label> Risk Group </mat-label>
                <input matInput formControlName="riskGroup" type="number" />
            </mat-form-field>

            <mat-form-field class="w100">
                <mat-label> Is Plant Pathogen </mat-label>
                <mat-select formControlName="isPlantPathogen">
                    <mat-option value="1"> True </mat-option>
                    <mat-option value="0"> False </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="w100">
                <mat-label> Colony Morphology </mat-label>
                <input
                    matInput
                    formControlName="colonyMorphology"
                    type="text"
                />
            </mat-form-field>

            <mat-form-field class="w100">
                <mat-label> Genome NCBI Association </mat-label>
                <input
                    matInput
                    formControlName="genomeNcbiAssociation"
                    type="text"
                />
            </mat-form-field>

            <mat-form-field class="w100">
                <mat-label> Genome Size </mat-label>
                <input matInput formControlName="genomeSize" type="number" />
                <span matTextSuffix> Mb </span>
            </mat-form-field>

            <mat-form-field class="w100">
                <mat-label> Notes </mat-label>
                <textarea matInput formControlName="notes" rows="4"></textarea>
            </mat-form-field>

            <mat-form-field class="w100">
                <mat-label> Citation </mat-label>
                <textarea
                    matInput
                    formControlName="citation"
                    rows="4"
                ></textarea>
            </mat-form-field>

            <mat-form-field class="w100">
                <mat-label> Photo </mat-label>
                <input matInput formControlName="photo" type="text" />
            </mat-form-field>

            <button
                mat-raised-button
                color="primary"
                [disabled]="!individualData.valid"
                (click)="uploadDataIndividual()"
            >
                Add Strain to Collection
            </button>
        </form>
    </mat-tab>

    <mat-tab label="Batch">
        <a
            mat-stroked-button
            href="https://docs.google.com/spreadsheets/d/1MT87hcTSK76lwyhsje6DdbUkVXA9ARgXTAUbk9Hw2IQ/edit?usp=sharing"
        >
            Download Data Format
        </a>

        <input
            type="file"
            style="display: none"
            (change)="onFileUpload($event)"
            required
            #deposit
        />

        <button mat-stroked-button (click)="deposit.click()">
            <mat-icon>attach_file</mat-icon> Load Data
        </button>

        <button
            mat-stroked-button
            (click)="batchDataSource.data = []"
            *ngIf="batchDataSource.data.length > 0"
        >
            <mat-icon>clear</mat-icon> Clear Data
        </button>

        <button
            mat-stroked-button
            (click)="uploadDataBatch()"
            *ngIf="batchDataSource.data.length > 0"
        >
            <mat-icon>upload</mat-icon> Add to Collection
        </button>
        <strong> Double click row to edit (red means invalid) </strong>
        <table mat-table [dataSource]="batchDataSource">
            <tr mat-header-row *matHeaderRowDef="COLUMNS; sticky: true"></tr>
            <tr
                mat-row
                *matRowDef="let row; columns: COLUMNS"
                (dblclick)="openStrainEditor(row)"
            ></tr>

            <ng-container matColumnDef="ccasmId">
                <th mat-header-cell *matHeaderCellDef>CCASM ID</th>
                <td
                    mat-cell
                    *matCellDef="let row"
                    [class.invalid]="!isValidCell(row, 'ccasmId')"
                >
                    {{ row.ccasmId }}
                </td>
            </ng-container>

            <ng-container matColumnDef="strainName">
                <th mat-header-cell *matHeaderCellDef>Strain Name</th>
                <td
                    mat-cell
                    *matCellDef="let row"
                    [class.invalid]="!isValidCell(row, 'strainName')"
                >
                    {{ row.strainName }}
                </td>
            </ng-container>

            <ng-container matColumnDef="binomialClassification">
                <th mat-header-cell *matHeaderCellDef>
                    Binomial Classification
                </th>
                <td
                    mat-cell
                    *matCellDef="let row"
                    [class.invalid]="
                        !isValidCell(row, 'binomialClassification')
                    "
                >
                    {{ row.binomialClassification }}
                </td>
            </ng-container>

            <ng-container matColumnDef="taxonomicLineage">
                <th mat-header-cell *matHeaderCellDef>Taxonomic Lineage</th>
                <td
                    mat-cell
                    *matCellDef="let row"
                    [class.invalid]="!isValidCell(row, 'taxonomicLineage')"
                >
                    {{ row.taxonomicLineage }}
                </td>
            </ng-container>

            <ng-container matColumnDef="riskGroup">
                <th mat-header-cell *matHeaderCellDef>Risk Group</th>
                <td
                    mat-cell
                    *matCellDef="let row"
                    [class.invalid]="!isValidCell(row, 'riskGroup')"
                >
                    {{ row.riskGroup }}
                </td>
            </ng-container>

            <ng-container matColumnDef="isPlantPathogen">
                <th mat-header-cell *matHeaderCellDef>Is Plant Pathogen</th>
                <td
                    mat-cell
                    *matCellDef="let row"
                    [class.invalid]="!isValidCell(row, 'isPlantPathogen')"
                >
                    {{ row.isPlantPathogen }}
                </td>
            </ng-container>

            <ng-container matColumnDef="colonyMorphology">
                <th mat-header-cell *matHeaderCellDef>Colony Morphology</th>
                <td
                    mat-cell
                    *matCellDef="let row"
                    [class.invalid]="!isValidCell(row, 'colonyMorphology')"
                >
                    {{ row.colonyMorphology }}
                </td>
            </ng-container>
            <ng-container matColumnDef="hostPlantSpecies">
                <th mat-header-cell *matHeaderCellDef>Host Plant Species</th>
                <td
                    mat-cell
                    *matCellDef="let row"
                    [class.invalid]="!isValidCell(row, 'hostPlantSpecies')"
                >
                    {{ row.hostPlantSpecies }}
                </td>
            </ng-container>

            <ng-container matColumnDef="isolationSource">
                <th mat-header-cell *matHeaderCellDef>Isolation Source</th>
                <td
                    mat-cell
                    *matCellDef="let row"
                    [class.invalid]="!isValidCell(row, 'isolationSource')"
                >
                    {{ row.isolationSource }}
                </td>
            </ng-container>

            <ng-container matColumnDef="isolationYear">
                <th mat-header-cell *matHeaderCellDef>Isolation Year</th>
                <td
                    mat-cell
                    *matCellDef="let row"
                    [class.invalid]="!isValidCell(row, 'isolationYear')"
                >
                    {{ row.isolationYear }}
                </td>
            </ng-container>

            <ng-container matColumnDef="isolationProtocol">
                <th mat-header-cell *matHeaderCellDef>Isolation Protocol</th>
                <td
                    mat-cell
                    *matCellDef="let row"
                    [class.invalid]="!isValidCell(row, 'isolationProtocol')"
                >
                    {{ row.isolationProtocol }}
                </td>
            </ng-container>

            <ng-container matColumnDef="isolationGrowthMedium">
                <th mat-header-cell *matHeaderCellDef>
                    Isolation Growth Medium
                </th>
                <td
                    mat-cell
                    *matCellDef="let row"
                    [class.invalid]="!isValidCell(row, 'isolationGrowthMedium')"
                >
                    {{ row.isolationGrowthMedium }}
                </td>
            </ng-container>

            <ng-container matColumnDef="isolationGrowthTemperature">
                <th mat-header-cell *matHeaderCellDef>
                    Isolation Growth Temperature
                </th>
                <td
                    mat-cell
                    *matCellDef="let row"
                    [class.invalid]="
                        !isValidCell(row, 'isolationGrowthTemperature')
                    "
                >
                    {{ row.isolationGrowthTemperature }}
                </td>
            </ng-container>

            <ng-container matColumnDef="isolationGrowthMediumComposition">
                <th mat-header-cell *matHeaderCellDef>
                    Isolation Growth Medium Composition
                </th>
                <td
                    mat-cell
                    *matCellDef="let row"
                    [class.invalid]="
                        !isValidCell(row, 'isolationGrowthMediumComposition')
                    "
                >
                    {{ row.isolationGrowthMediumComposition }}
                </td>
            </ng-container>

            <ng-container matColumnDef="isolationSoilPh">
                <th mat-header-cell *matHeaderCellDef>Isolation Soil pH</th>
                <td
                    mat-cell
                    *matCellDef="let row"
                    [class.invalid]="!isValidCell(row, 'isolationSoilPh')"
                >
                    {{ row.isolationSoilPh }}
                </td>
            </ng-container>

            <ng-container matColumnDef="isolationSoilOrganicMatter">
                <th mat-header-cell *matHeaderCellDef>
                    Isolation Soil Organic Matter
                </th>
                <td
                    mat-cell
                    *matCellDef="let row"
                    [class.invalid]="
                        !isValidCell(row, 'isolationSoilOrganicMatter')
                    "
                >
                    {{ row.isolationSoilOrganicMatter }}
                </td>
            </ng-container>

            <ng-container matColumnDef="isolationSoilTexture">
                <th mat-header-cell *matHeaderCellDef>
                    Isolation Soil Texture
                </th>
                <td
                    mat-cell
                    *matCellDef="let row"
                    [class.invalid]="!isValidCell(row, 'isolationSoilTexture')"
                >
                    {{ row.isolationSoilTexture }}
                </td>
            </ng-container>

            <ng-container matColumnDef="isolationSoilProvince">
                <th mat-header-cell *matHeaderCellDef>
                    Isolation Soil Province
                </th>
                <td
                    mat-cell
                    *matCellDef="let row"
                    [class.invalid]="!isValidCell(row, 'isolationSoilProvince')"
                >
                    {{ row.isolationSoilProvince }}
                </td>
            </ng-container>
            <ng-container matColumnDef="longitude">
                <th mat-header-cell *matHeaderCellDef>Longitude</th>
                <td
                    mat-cell
                    *matCellDef="let row"
                    [class.invalid]="!isValidCell(row, 'longitude')"
                >
                    {{ row.longitude }}
                </td>
            </ng-container>

            <ng-container matColumnDef="latitude">
                <th mat-header-cell *matHeaderCellDef>Latitude</th>
                <td
                    mat-cell
                    *matCellDef="let row"
                    [class.invalid]="!isValidCell(row, 'latitude')"
                >
                    {{ row.latitude }}
                </td>
            </ng-container>

            <ng-container matColumnDef="genomeNcbiAssociation">
                <th mat-header-cell *matHeaderCellDef>
                    Genome NCBI Association
                </th>
                <td
                    mat-cell
                    *matCellDef="let row"
                    [class.invalid]="!isValidCell(row, 'genomeNcbiAssociation')"
                >
                    {{ row.genomeNcbiAssociation }}
                </td>
            </ng-container>

            <ng-container matColumnDef="genomeSize">
                <th mat-header-cell *matHeaderCellDef>Genome Size</th>
                <td
                    mat-cell
                    *matCellDef="let row"
                    [class.invalid]="!isValidCell(row, 'genomeSize')"
                >
                    {{ row.genomeSize }}
                </td>
            </ng-container>

            <ng-container matColumnDef="notes">
                <th mat-header-cell *matHeaderCellDef>Notes</th>
                <td
                    mat-cell
                    *matCellDef="let row"
                    [class.invalid]="!isValidCell(row, 'notes')"
                >
                    {{ row.notes }}
                </td>
            </ng-container>

            <ng-container matColumnDef="citation">
                <th mat-header-cell *matHeaderCellDef>Citation</th>
                <td
                    mat-cell
                    *matCellDef="let row"
                    [class.invalid]="!isValidCell(row, 'citation')"
                >
                    {{ row.citation }}
                </td>
            </ng-container>

            <ng-container matColumnDef="photo">
                <th mat-header-cell *matHeaderCellDef>Photo</th>
                <td
                    mat-cell
                    *matCellDef="let row"
                    [class.invalid]="!isValidCell(row, 'photo')"
                >
                    {{ row.photo }}
                </td>
            </ng-container>

            <tr *matNoDataRow></tr>
        </table>
    </mat-tab>
</mat-tab-group>
