<mat-form-field style="width: 200px">
  <mat-label>Province</mat-label>
  <input
    type="text"
    aria-label="Search by province"
    matInput
    [formControl]="myControl"
  />
</mat-form-field>
<mat-form-field style="width: 200px">
  <mat-label>Isolation Source</mat-label>
  <input
    type="text"
    aria-label="Search by Isolation Source"
    matInput
    [formControl]="myControl"
  />
</mat-form-field>
<mat-form-field style="width: 200px">
  <mat-label>Isolation Soil Texture</mat-label>
  <input
    type="text"
    aria-label="Search by Isolation Soil Texture"
    matInput
    [formControl]="myControl"
  />
</mat-form-field>
<mat-form-field style="width: 200px">
  <mat-label>Risk Group </mat-label>
  <input
    type="text"
    aria-label="Search by Risk Group"
    matInput
    [formControl]="myControl"
  />
</mat-form-field>
<mat-form-field style="width: 200px">
  <mat-label>Number</mat-label>
  <input
    type="text"
    aria-label="Search by name"
    matInput
    [formControl]="myControl"
  />
</mat-form-field>
<mat-form-field style="width: 200px">
  <mat-label>Number</mat-label>
  <input
    type="text"
    aria-label="Search by name"
    matInput
    [formControl]="myControl"
  />
</mat-form-field>
<mat-form-field style="width: 200px">
  <mat-label>Number</mat-label>
  <input
    type="text"
    aria-label="Search by name"
    matInput
    [formControl]="myControl"
  />
</mat-form-field>
<mat-form-field style="width: 200px">
  <mat-label>Number</mat-label>
  <input
    type="text"
    aria-label="Search by name"
    matInput
    [formControl]="myControl"
  />
</mat-form-field>
